@{
    ViewData["Title"] = "Update Subscribrer Success";
    Layout = "~/Views/Shared/Layout_3.cshtml";
}

<br />
<h2>Update thông tin Subscriber thành công</h2>
<br />
<br />
<a asp-action="Index" asp-controller="TrangChus">Quay về trang chủ</a>
<br />
<br />